#AutoPatchWork-Bar{
    background:rgba(0,255,0,0) !important;
    border-bottom: 1px solid rgba(0, 255, 0, 1);
    border-top :12px solid rgba(0, 255, 0, 0.01);
    bottom:0px !important;
    color:rgba(0,0,0,0) !important;
    position:fixed !important;
    right:0px !important;
    text-align:right;
    width:60px;
    z-index:10000 !important;
}

#AutoPatchWork-Bar.off{
    border-bottom: 2px solid rgba(128, 128, 128, 0.1) !important;
    border-top : 2px solid rgba(128, 128, 128, 0.1) !important;
    margin-top:9px;
}

#AutoPatchWork-Bar:hover{
    background-color:rgba(222,222,222,.75) !important;
    border-top-width:0px !important;
    color:rgba(0,0,0,1) !important;
    height:80px !important;
}

#AutoPatchWork-Bar.loading{
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    animation-name: loading;
    border-bottom: 1px solid rgba(0, 128, 255, .5) !important;
    border-top : 4px solid rgba(0, 255, 255, .5) !important;
}

#AutoPatchWork-Bar.terminated{
    border-bottom: 1px solid rgba(255, 128, 64, .5) !important;
    border-top : 4px solid rgba(255, 128, 64, .5) !important;
}

#AutoPatchWork-Bar.error{
    border-bottom: 1px solid rgba(255, 0, 0, .5) !important;
    border-top : 4px solid rgba(255, 0, 0, .5) !important;
}

#AutoPatchWork-Bar.loading:hover:after{
    content:"..." !important;
}

#AutoPatchWork-Bar.terminated:hover:after{
    content:"???" !important;
}

#AutoPatchWork-Bar.error:hover:after{
    content:"!!!" !important;
}

#AutoPatchWork-Bar.remove{
    display:none !important;
}

#AutoPatchWork-Bar button{
    display:none;
    position: relative;
    top: 10px;
}

#AutoPatchWork-Bar:hover button{
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom,from(#222),to(#666));
    border:1px solid #aaa;
    color:#fff;
    cursor:pointer;
    display:block;
    height:22px;
    margin:0px 0px 0px 10px;
    width:40px;
}

@-webkit-keyframes loading {
    border-bottom-color:rgba(0, 128, 255, 0.75);
    border-bottom-width:12px;
    border-top-width:1px;
    from {
        border-top-color :rgba(0, 255, 255, 0.75);
    }
    to {
        border-bottom-color:rgba(0, 128, 255, 0.75);
        border-bottom-width:1px;
        border-top-color :rgba(0, 128, 255, 0.75);
        border-top-width:12px;
    };
}

@keyframes loading {
    border-bottom-color:rgba(0, 128, 255, 0.75);
    border-bottom-width:12px;
    border-top-width:1px;
    from {
        border-top-color :rgba(0, 255, 255, 0.75);
    }
    to {
        border-bottom-color:rgba(0, 128, 255, 0.75);
        border-bottom-width:1px;
        border-top-color :rgba(0, 128, 255, 0.75);
        border-top-width:12px;
    };
}
