/*
    Name: AutoPatchWork separator style
    Version: 02.02.2015
*/

.autopagerize_link, .autopagerize_link:hover {
    text-decoration: none !important;
}

.autopagerize_link:before {
    content: "page " attr(number);
}

.autopagerize_page_separator_blocks {
    clear: both;
    text-align: center !important;
    padding-top: 5px !important;
    padding-bottom: 7px !important;
    list-style: none outside none !important;
    line-height: 14px !important;
    text-decoration: none !important;
}

.autopagerize_page_separator {
    border-bottom-color: #dae1e8 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    box-decoration-break: slice !important;
    color: #45688e !important;
    display: block !important;
    height: 6px !important;
    text-overflow: none !important;
    width: 100%;
    margin: 0 0 8px !important;
    padding: 3px 0 !important;
    overflow: visible !important;
}

.autopagerize_page_info {
    font-size: 14px !important;
    background: #fff none repeat scroll 0% 0% !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-size: auto !important;
    margin: 0 !important;
    padding: 0 7px 2px !important;
}

/*
    Name: AutoPatchWork statusbar style
    Version: 02.02.2015
*/

#autopatchwork_bar{
    background: rgba(0,255,0,0) !important;
    border-bottom: 1px solid rgba(0, 255, 0, 1);
    border-top: 12px solid rgba(0, 255, 0, 0.01);
    bottom: 0 !important;
    color: rgba(0,0,0,0) !important;
    position: fixed !important;
    left: 0 !important;
    text-align: left;
    width: 60px;
    z-index: 10000 !important;
}

#autopatchwork_bar.autopager_off{
    border-bottom: 2px solid rgba(128, 128, 128, 0.1) !important;
    border-top: 2px solid rgba(128, 128, 128, 0.1) !important;
    margin-top: 9px;
}

#autopatchwork_bar:hover{
    background-color: rgba(222,222,222,.75) !important;
    border-top-width: 0 !important;
    color: rgba(0,0,0,1) !important;
    height: 80px !important;
}

#autopatchwork_bar.autopager_loading{
    border-bottom: 1px solid rgba(0, 128, 255, .5) !important;
    border-top : 1px solid rgba(0, 255, 255, .5) !important;
}

#autopatchwork_loader{
    display: none;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    height: 20px !important;
    width: 60px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: transparent !important;
}

#autopatchwork_bar.autopager_loading img{
    display: block;
}

#autopatchwork_bar.autopager_terminated{
    border-bottom: 1px solid rgba(200, 128, 64, .5) !important;
    border-top : 4px solid rgba(200, 128, 64, .5) !important;
}

#autopatchwork_bar.autopager_error{
    border-bottom: 1px solid rgba(255, 0, 0, .5) !important;
    border-top : 4px solid rgba(255, 0, 0, .5) !important;
}

#autopatchwork_bar:hover img,
#autopatchwork_bar.autopager_error img,
#autopatchwork_bar.autopager_terminated img{
    display: none;
}

#autopatchwork_bar.autopager_remove{
    display: none !important;
}

#autopatchwork_bar button{
    display: none;
    position: relative;
    top: 10px;
}

#autopatchwork_bar:hover button{
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom,from(#222),to(#666));
    border: 1px solid #aaa;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 22px;
    margin: 0 0 0 10px !important;
    padding: 0 !important;
    width: 40px;
}