html {
    background: #e8ecf3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAF2CAYAAABXpQmzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAPQUlEQVRo3sWb227zXBGGxytJ2%2FsAJI4RCPglbh4hNkIcIwQX8rVJZn7P5h2%2FWbXTnlEpTeLYazvbx%2BPx93%2F9z%2F7yj%2F%2FE689%2F%2B3e8%2B7G%2F%2FvO%2Ffcw%2FD1UT%2FxtjCP5ut7uYbcdVVcbtdosv%2FsPLy6VP9u9%2B3F%2FLssg4n89x0F%2F3u%2FaP%2Fvr4ePfWLC663%2B9xhTfvn6%2FXa3z2v%2FP54hcs5%2FNJhp%2FkV3jL%2FrpcLg%2FjxUXDzz6dhsn0tzbUY%2FUJj4%2BPq39fPj4%2Begj%2B8pmfTqc4Vi2eazxnqWP9o4%2F3vJ7sk%2FKx9rrh3Sflrfp4b%2BvnMdbJRP%2Fr4L0bvLL1JVpED0Nza3ytbP3B1g0wb80vwHr67%2F4%2FfrxHF8PW1uJCb8C%2F%2B%2Be1Rf%2B8XeVd%2BJZ66%2BhpnYhGi96aX4ErvcW123jPlmIIy8AJq0DEOP17vcTXtj7rwBb5wm%2FCEctj6%2FJYTmqdtXfjB71FtO5%2F%2Fu7H%2FbU2ErOO2bo0%2BcG1tZ4tLozJXC5n9abrBMwYUhOfY1L%2BbRXYGIv%2FgHdMyIcWva77ayW0GJ9giUqoY31HfdDqYj3ppCmD0Uss9nrMQhX8iy%2BFL74vU8245PKWs%2Fa%2BsIXepb%2F8R%2B%2B6diiGMiAEAhGq3fG%2F6i0l3PXFJ%2BLb5D9Cz12XfAglWS4Uqa5%2BNWac65et1zZabOHtFvvc25ZSkzvy%2Fv4jW%2FQf3t7eFPIHufTZ%2BxBeXl7TvKxjlB8%2Ffgi0sSQoZl97rvHZd2a9qmfqB6%2FXj5596XquI7pdBSRare5ixusYY9EHVNTH4637wTQ5Wsp2sbBHq7hb7k7O0gXYl6rGCLOXWuhffD1hczAc1iFsoS%2B41jpqLPAYELkU3JJshRDAFJdBbTkYaRHS3EEo%2FEToSo8xtXBbv7IWmkKcRiCWB8qUM34VrOf6gujJ29urtLquNgYLr2lz0rLlwt9zMv73%2BvomJTmLn1QWrOzRyVu0GDgUvwyVYInK3LR9ZDdXZuS9V8KFd7jkYNGxbt7S5fISauqTCiNbPgXb1VIDxfKJuH67IVXosrdQahsd%2BEl%2Bve9S%2BBlYr%2BvV9XnIprVpzWIFyma3m%2FBdwtJgvBAzhY3x7nyZYOpq%2B9yPp9krvxLdlTBoLU2cVE5rQDcs1%2FQK3xjduu0MG572%2ByUEwn%2FM91OborQiGgYgnBDGpvFnmhbNndXiIqcD1rUsbEi4L7YHIt6Sjy8sRVrWGKfANvq2%2BWJD%2BSHhIR1%2Bkh%2FMk%2B89xnTLEXyEWYZAtEeohVZ3zSFmUN8ynt7qUo4JOxYXjQwRYEbswWul4t3TwXvz2E%2FuFlYYttO3cMH44C4gxL6dq0Sh%2B6EUEgjEDi%2F%2F3tEeRMztjwsyPENK%2BE1r3%2FPKWkPBeOGre%2Ba%2BoDCaiAZIVTeT4lPKVtPkYdExqW4o451FXQAggzSMkKJoCBKMnfCWK8rzVhc40vH%2B%2FhHdcnCJyVSLrq6YTOy1uri5AGxDjcmkqT6XwKaUa4cyUIOejNYPHLi54KZiZaAUk6FuOn70ixBClAjmznAMWT6nAzo%2FFCeXueggrrZOymBF%2BFqxZXouF6eU8nNpYii%2BlsfVUfHEw4T886mcKIKQAc%2BEAC4nNVxmZr3p7rrVnIzA5aUZdImBPYzQqn3hzR60EElFhTBC7heCkcJCkee2C9lqTwzxI7xTG6hNmId0jFtd9274AkS86D%2FmrqVhgHctLexuw96UnMY7wkFspZ%2Fs3cOPZ8AkgkBTqjt4f%2BiZtUOlpMIqK%2BoguIL37A3dphKdsI0U9dXOeNcuSu7vEGbDeiCKDsdaoYGuJysiKniKDtZhSN2JU94aQ8D6YijjEmO7YFwlbtqSVCmrjesNhnJpe4joqiKqjKRqDBG8wS%2BWXZSMXl5y1gizat1SDUpgM1C%2Bp77DqCOOhL5gsSuqjhNDVZGnepe33A3t3NoTtPSDuQTeAnao7GN4idCp8hwPjmiHAWReSAwA%2FlDhqHqvIRS5C4p9BgMwZgCdI%2FhnX2AYrWIAqU%2FY07LVYAC2IYCchDOAiB3IVyvitc2er%2BN1JcoI9MMo17IK3owZAKQk7A0sxMQAbI8BKCe56y4pGIBCAOrVYTVEDNasnVAxACSPrTvMAHSHAcDhl85vDEBLeoyC%2BJhIZOzEAARhP49znUhuKTGAmPHEALbIBTbGF35iAK7rsI%2FIPlR2GIAQA8iuJwYgRwzAigEIMQDjoCmWhxhALAPMHsSsvtvMAFo2JwaQgksMIHIXdI%2FWI9CE%2FysGIJX09IyLAWj76x0GAJqUOl6ZhhECaBWAbazYrBlACe8NmtcmJpYOYTSs%2F1cMgNGNHDEAj2M5vNZiABWUbAzAVgbQXRIDEFoNZQYgOwygucoAiclFP1fW%2FmqIz32MYACdeLteIziuaCBgZSSQjrx2GMBDdFrx2SiXdkdcdsgApBhABxzEADYihywY5gR5AjEAYQbQXWGHoOsPGRIxAAhCx4%2FMADpOB3wpBtDp1MoAGtkpMQAjBtB2EwxAVgbQccQOA%2FAWzSg4YgbQqX7TQvhoRPfFANpphktBzrrDABZiAFa2JxUf8lgBkxIDMDAA22EARgzAZgaQgfBnBhDJ2STNuQoTA0gxI4rZxBUteUNgAC1aJRCKYMm%2Fu22vVHVAN4QYgE2pQOp1MYCYbb6fbI8BVHZ0V5g678qPrSugxQCEGcAyMYCIMYoBGBhAxzfeEjEATCpZMzEA33etgEkqZtMKPhLNErgSXmhXsjDNPYYynsgbINB1UeZcJY9GDECIAfSJ8oQBGGwntlCIAQjH4Z4AIZWyHQbQMRqIyMwArBhAE1cwlpkBfKLsmHrDfU5NASxnBmDEAFqAfQjIQsAAyrFvXTOKgCcbkODKKq0YQHc5MwAOLjtAQqQfyA72MVO7ocQAOmgKCEgMIAQVkI3Tge8wAByTQd3A63eUf8QAZGIAgqQnVqOEdiEGIMQAQvpL6TI%2FLQbQC51Rft%2Bn225pkF8JPT6lEzUEx18xANabrbuvGIAQAyBfeDPKaTKVwpHU1E1YSzAUDEA246QPeWspWMePBclPvG2tYB3jEgPoG4oIkCDEzABsRt3EAOyIAXTiCLvkMRMzgJB0N%2FawizAKvTPEAOBKQqoRQ84MQCYGIHsMIHIZlxhsG3aoLQWEwn1yZpdLk00mC7E8lbPYAQOQPQZQ%2BYJi8T8xACEGEE4dk5gZgBUD6LCw3LN8lwHIzACsGIAUAwAv05kBCFmwuMNcIa3sMQAhBtAsjRkA3IMQA2i%2FwwwAKZRSHYDiziS2cmYAdsAAjBmATAzAQ2s7YgB504bG2%2FEaMQDO3mxiAMYMQL5iAH2vo44pbNBcB%2BAxhFYsq%2FON7luo8Mm4DgA2XCusBmZqazbXAfT9GqwpM4BOciuMxa1KmesAwB079j6qA2hrcVAHIHMdwMPCFwOQPQbQkl3Lkw5zqgNoowSVgBU%2BqgNgBiBHDKB5WQ1JmQG4wCojT6JJ%2BK5gAAsxAK4DsKM6gJBmeFkYVdQBwOwp3zvUQsI41mEhalMQ5yIa2KsDmBHAJwYgFD8YWN8RA%2BhI6rt1APIVAzC%2BxfaMAaAOoBNYhLCdiUx1AEIMoNUADIDrAJgBKDEARR1AQ1%2B%2BxUYMoOsAhBgALG%2FDfdyg7XiMGMDDjYi5DqCBEIaC2YeYUR2AUEDktyiVQsasxlnHtxADEIQwVAcgewzAnjGAXr%2Fk980ApBjAQx3Awy1VqgOQuQ5gZgByxADkoA7AuA5Ayc2F1hcDkJkByINPWS9YGYA8YwBCDKAdKBhAJIgIDVGwwqQdDKANOtUByDMGYF%2FVAQgxACUGIHMdABhAl%2B5wUchRHYB4ROKG9ogBCOoqqg5AoZVpRZIBKOon4IK9q2IAiFLTDU91APFeDKBtENcBHDGATcKnOgAwgDghjWkyAC0G8ODeoIVcB4CiSGYAnMtIh64HDECoDsCYAVBJY%2Bq2O8%2BqAxBmAI2MKQ4XrgMQvvE%2BMQBjBqDwor47EwPY7iHh6uIoRnUAMtcBzAwAuM6oMHHZYwBVN3ND4htOkRkAutYaRsflMTxiACjVku8wADtgADYzgLgrwcl5MQDbYwC4raE46SsGIMQAtrAQDOVZHUCPiRhApH2V9HyqA2hHlCpxQnGiMAMwYgBQ%2FC6LisV%2FUgegVAeggyp5u4iqGIBQHYDMdQDyjAG0q0AyDgxGOc0nBmBTHUBnc8wA2utPdQBb%2FIhqz6l8gxmAdte1G1wH0OoRFndiADLVAQgzgOY6VAcwM4DHnSnrajsMwI4YQOey96pqOWIAQtn6Vq14UAcgvBkQCqs6AKE6gLZoMwNogfDFR2tcByBfMIDc6%2BsNsPShDoDvqmQktcMADEtWdQA5ToRZX9QBZK5AdQDMAAQlHavH1bkOgBmAzXUAclAHsMsAHtInYgCw710HoAgLuNAYJWaoA5ifBeictRiAzHUAclAHIGAAiOi1GACjWuE6gPlZAGypEg21vToAo2cB2sz07dR6FsDoWYAY7zluJ2wMoHUbMjg9C%2FCJARgxACMG0OXzfa%2FIHSTfCqwVWJgBaAlu38hBzBstzncBJgagYGpzHcDMAGSuA5CdZwHsqA6gK7m%2F%2ByyAwGF%2B51kAecYA%2BubN9CxA13IpPQvQhJ0YgOBZgCbXsDcolSAGYGAAslMHoFQH0AzAigFwHcCnZwGYAejOswBdB8BhzDI9C%2FCpDqAR2cQAjBmATAxAiAEEv5jrAPyCZedZAOFnAXAnWQ8YgPGzAA8PN1DmFGHNXh2ATAzg4VkA%2BU4dALJKpToAFNnI3rMAMtUBSEWnxgyA6wCMGEDILjMAneoAZK8OQHbqANig6vwsADOA5n24F4JnAQTrd8AAHuop8CxArOfEALTLdnDzHWOaGIDsPQsgQGIzA5CpDqALluZnAXSqA8CzADY%2FCyD8INWzZwFmBmDPGAAGrYjVJgYgYACa9WWHdQAKBrBMdQB2VAfQioVEguoAopSenwUAbX0QhmIAtvcsgFEdgDEDMGIAUgzAiAE81AHAE%2BgOA7A9BiDEAHRmAEIMQIgBLMQAsr6nGIAQA2jEWAwgngUQehaA6wDAAIQZgD1hALbHAOSgDsDwLICQZ5XpWQABAxAqa2MGgARI5zqALvDj%2BAyrMaAvuAPp3%2BEZqA5AmAHMdQBGt1btqA5A9p4F2GMAQgzA%2BFkA1AHoNIytDuBPf%2Fi1%2Ff43v7Cffvcr%2BeNvf%2Bkv82P1Wfyzv4Z88%2B%2F%2FeOLP4lYmZGAO9bMAAAAASUVORK5CYII%3D) repeat-x;
    font-size:small;
    font-family: "Calibri","Tahoma","Verdana", "Arial", "Helvetica", "geneva", sans-serif !important;
}

body, ul, ol, dl, li, dd, dt, p, div, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

.top {
    position:fixed;
    top:0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -o-linear-gradient(top left, #eee, #fff);
    width:98%;
    min-height: 77px;
    overflow:auto;
    border-collapse:collapse;
    font-size:small;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: 1em;
    padding-bottom: 2px;
    -webkit-box-shadow: #CCC 0 0 .25em;
    -moz-box-shadow: #CCC 0 0 .25em;
    box-shadow: 0 0 .25em #98b0c9;
}

.top h1 {
    color:#fff;
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#666));
    background: -o-linear-gradient(top left, #222, #666);
    font-size:medium;
    text-shadow:0px 0px 1px #cccccc;
    padding:2px;
    padding-left:10px;
}

.top p {
    margin: 0.5em;
}

#siteinfo_table {
    box-shadow: 0 0 10px #98b0c9;
    background: rgba(255,255,255,0.5);
    width:98%;
    overflow:auto;
    border-collapse:collapse;
    text-align:center;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0px;
    margin-top: 100px !important;
    vertical-align: middle;
}

#siteinfo_table td {
    border:1px solid #996633;
}

#siteinfo_view {
    position:fixed;
    top:-2000px;
    bottom:2000px;
    left:0px;
    right:0px;
    background:rgba(255, 255, 255, 0.8);
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#siteinfo_view > dl {
    border:2px solid gray;
    border-radius:10px;
    padding:10px;
    margin:5px auto;
    width:95%;
    background:#fff;
    position:relative;
}

#siteinfo_view dt, #siteinfo_view dd {
    padding:4px;
    display:inline-block;
}

#siteinfo_view dl > dt {
    width:18%;
    vertical-align: top;
}

#siteinfo_view dl > dd {
    width:78%;
}

#siteinfo_view dl > dd > dl > dt {
    width:16%;
    padding:0;
    vertical-align: top;
}

#siteinfo_view dl > dd > dl > dd {
    width:80%;
    background:#ffffff;
    vertical-align: top;
}

#siteinfo_view textarea {
    width:100%;
    font-family: "Calibri","Tahoma","Verdana", "Arial", "Helvetica", "geneva", sans-serif !important;
    min-height:3em;
    background:#eee;
}

#siteinfo_view textarea[readonly="readonly"] {
    background:#eee;
    resize:none;
    border:none;
    outline:none;
}

#siteinfo_view textarea[data-modified="modified"] {
    background:#ece;
}

#siteinfo_table tr[data-modified="modified"] {
    background:#ece;
}

#siteinfo_table tr[data-disabled="disabled"] {
    color: #808080 !important;
}

#siteinfo_table tr[data-disabled="disabled"] button{
    color: #808080 !important;
}

.name, .created_by, .created_at {
    text-align:left;
}

.created_by, .created_at, .database_resource_url {
    padding-left:0.5em;
    padding-right:0.5em;
}

.name button {
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
    background: -o-linear-gradient(top left, #eee, #fff);
    border:1px solid #aaa;
    cursor:pointer;
    width:100%;
    margin:0;
}

#siteinfo_nav {
    text-align: center;
}

#siteinfo_nav a:hover {
    background:#993333;
    color:#ffffff;
}

#siteinfo_nav a:target {
    background:#6c521c;
    color:#ffffff;
}

#siteinfo_nav a {
    text-decoration:none;
    background:#e8d2a6;
    display:inline-block;
    color:#404040;
    margin:1px 3px;
    padding:1px;
    border-radius:4px;
    -webkit-border-radius:4px;
    min-width:1.5em;
    border:none;
    text-align:center;
    font-weight:bold;
    font-size:small;
}

#siteinfo_search_input {
    width:90%;
    border:2px solid #ff9933;
    border-radius:3px;
    -webkit-border-radius:3px;
}

#siteinfo_head th {
    margin:0;
    padding:0;
}

#siteinfo_head th button {
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#888));
    background: -o-linear-gradient(top left, #333, #888);
    border:1px solid #888;
    cursor:pointer;
    color:#fff;
    width:100%;
    height:4.2em;
    margin:0;
    display:block;
}

#siteinfo_head th button.c-down:before {
    content:'▼';
}

#siteinfo_head th button.c-up:before {
    content:'▲';
}

#siteinfo_head th button.c-down {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -o-linear-gradient(top left, #fff, #ccc);
    color:#222;
}

#siteinfo_head th button.c-up {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    background: -o-linear-gradient(top left, #ccc, #fff);
    color:#222;
}

#loader { 
    display: inline-block;
    position: relative;
    height: 11px;
    width: 16px;
    z-index: 1000;
}

.MSG_manager:lang(ru) {content: 'Редактор SITEINFO в AutoPatchWork'}
.MSG_siteinfo_search_input:lang(ru) {content: 'Поиск:'}
#disable:lang(ru) {content: 'Откл.'}
#name:lang(ru) {content: 'Название'}
#created_at:lang(ru) {content: 'Создано'}
#updated_at:lang(ru) {content: 'Обновлено'}
#created_by:lang(ru) {content: 'Автор'}
#resource_url:lang(ru) {content: 'Номер'}
#database_resource_url:lang(ru) {content: 'База'}
#number_of_successful:lang(ru) {content: 'Зап.'}
#number_of_failed:lang(ru) {content: 'Ошиб.'}
